<!DOCTYPE html>
<html>
  <head>
    <base href="[[=URL('static')]]/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA=="/>
    <!--
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.jqueryui.min.css">
  -->
  
      
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!--
    <link rel="stylesheet" href="css/no.css">
    -->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<!--

    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.jqueryui.min.js"></script>
-->   
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <style>.py4web-validation-error{margin-top:-16px; font-size:0.8em;color:red}</style>
    [[block page_head]]<!-- individual pages can customize header here -->[[end]]
  </head>
  <body>    
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="../index">
          <span class="has-text-primary"><h1><strong>Jasmin SMS</strong></h1></span><strong>&nbsp;Gateway GUI</strong>
        </a>
		  
		<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="left-navbar"
           onclick="this.classList.toggle('is-active');document.getElementById(this.dataset.target).classList.toggle('is-active');">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="left-navbar" class="navbar-menu">
        <div class="navbar-start">
	  [[block page_menu_items]]<!-- individual pages can add menu items here -->[[end]]

    </div>
      <div id="left-navbar" class="navbar-menu">
        
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              [[if globals().get('user'):]]
              <a class="button is-small is-primary" href="[[=URL('auth/logout')]]">Sign out</a>
              [[else:]]
              <a class="button is-small is-primary" href="[[=URL('auth/register')]]">Sign up</a>
              <a class="button is-small is-light" href="[[=URL('auth/login')]]">Sign in</a>
              [[pass]]
            </div>
          </div>
        </div>
      </div>
    </nav>
    [[if globals().get('flash'):]]
    <div id="flash" class="notification is-primary has-text-centered">
      <button onclick="jQuery('#flash').hide();"class="delete" aria-label="delete"></button>
      <flash-alerts data-alert="[[=globals().get('flash','')]]"></flash-alerts>
    </div>
    <!--
     <article id="flash" class="message is-primary">
      <div class="message-header container">
          <flash-alerts data-alert="[[=globals().get('flash','')]]"></flash-alerts>
        <button onclick="jQuery('#flash').hide();"class="delete" aria-label="delete"></button>
      </div>
    </article>
    -->
  [[pass]]    
  <section class="box">
    
    [[include]]
    <div class="sidebar">
      [[block mysidebar]]
      [[end]]
    </div>
      <!-- end of HTML inserted by extending template -->
  </section>
      <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>
    </body>
    <!-- You've gotta have utils.js -->
  <script src="js/utils.js"></script>
  
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]
</html>
