[[extend 'layout.html']]
<script>
$(document).ready(function() { 
   jQuery('#connector_stats').dataTable()
});
</script>
<div class="box" >
    <div class="columns">
        <div class="column is-4">
            <a href="[[=URL('smppcs_stats')]]"><button type="button" class="btn btn-outline-info "><i class="fa fa-arrow-circle-left">  Back</i></button></a>
        </div>
        <div class="column">
            <div class="title">Stats for Connector : [[=con]]</div>
        </div>
    </div>
    <table id="connector_stats" class="display compact" style="width:100%">
    <thead>
        <tr>
        <th>Item</th><th>Value</th>
        </tr>
    </thead>
    <tbody>
    [[for item in items:]]
    <tr>
        <td>[[=item[0] ]]</td>
        <td>[[=item[1] ]]</td>
    </tr>
    [[pass]]
    </tbody>
    </table>
</div>
