[[extend 'layout.html']]
<div class="box" id="j_stats">
    <div class="box-header">
        <div class="title has-text-centered">Statistics </div>
    </div>
    <br />
        <div class="columns">
            <div class="column is-3">
                
                <a class="button is-large" style="width:100%" href="[[=URL('user_stats')]]">
                    <span class="icon is-large">
                      <i class="fa fa-user has-text-primary" ></i>
                    </span>
                    <span>User Stats</span>
                  </a>
                
                
            </div>
            <div class="column is-3">
                <a class="button is-large" style="width:100%" href="[[=URL('smppcs_stats')]]">
                    <span class="icon is-large">
                      <i class="fa fa-ethernet has-text-primary" ></i>
                    </span>
                    <span>SMPP Connector Stats</span>
                  </a>
                
                
                
            </div>
            <div class="column is-3">
                <a class="button is-large" style="width:100%" href="[[=URL('smppsapi_stats')]]">
                    <span class="icon is-large">
                      <i class="fa fa-server has-text-primary" ></i>
                    </span>
                    <span>SMPP Server Stats</span>
                  </a>
                
                
            </div>
            <div class="column is-3">
                <a class="button is-large" style="width:100%" href="[[=URL('httpapi_stats')]]">
                    <span class="icon is-large">
                      <i class="fa fa-code has-text-primary" ></i>
                    </span>
                    <span>HTTP Server Stats</span>
                  </a>
                
                
               
            </div>
        </div>
        <br />
    </div>
